/* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

/*body {
	padding-top: 70px;
}*/

li {
	text-align: center;
}

#pt {
 position: relative;
  top: 20px;

}
div#container {
  float: left;
  background-color: gray;
  position: relative;
  padding: 20px;
  margin: 20px;
  
  border: 1px solid black;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}
